//Autocomplete CSS
.ui-autocomplete-input-has-clear {
  padding-right: $ui-autocomplete-clear-size * 1.5;
}

.ui-autocomplete-input-has-clear::-ms-clear {
   display: none;
}

.ui-autocomplete-clear {
  display: inline-block;
  width: $ui-autocomplete-clear-size;
  height: $ui-autocomplete-clear-size;
  text-align: center;
  cursor: pointer;
}