/**
 * style for common css needed for the application
 */
 .validate-has-error {
    border-color: #cc2424;
  
    &:focus {
      border-color: #cc2424;
    }
  
    + label.validate-has-error, > label.validate-has-error {
      color: #cc2424;
      display: inline-block;
      margin-top: 5px;
    }
  }
  
  .input-group + .validate-has-error, .validate-has-error .validate-has-error {
    color: #cc2424;
    display: inline-block;
    margin-top: 5px;
  }
  
  .make-switch + .validate-has-error {
    margin-left: 10px;
  }
  
  .validate-has-error {
    .form-control {
      border-color: #cc2424;
    }
  
    .error {
      color: #cc2424;
    }
  }
  
  .has-error {
    border-color: #cc2424 !important;
  }